name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  release:
    types: ["published"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.71.0
      - name: Remove lockfile
        run: rm Cargo.lock
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
